


.exibir-filtros {
    padding: 10px;
}



.exibir-inputs, .exibir-inputs-2 > input, select, p {
    margin-right: 20px;
    margin-bottom: 10px;
}

.exibir-inputs, .exibir-inputs-2 > p {
    /* display: block; */
    margin: 0  auto;
    align-self: center;
    text-align: center;
    
}




.selectTamanho {
    width: 130px;
}

.exibir-grade-cartoes{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    display:flex;
    justify-content: center;
    justify-items: center;
}

.minimo, .maximo {
    width: 100px;    
    max-width: 100px;
    margin-right: 10px;
}
.exibir-inputs  {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    /* line-height: 100%; */
    /* height: 30px; */
}

.exibir-cartoes {
    margin-top: 80px;
    display: flex;

    display:flex;
    flex-direction:column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items:center;
    align-self: center;
    text-align: center;
}